* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .header {
    margin: 0;
    padding: 0;
    top: 0;
  }
  
  .menu{
    position: sticky;
    z-index: 10;
    display: inline;
  
    background-color: #0271bc;
    color: white;
    padding: 1rem 2rem;
  }
  
  .main{
    margin: 0;
    padding: 0;
    top: 0;
  }
  
  .container{
   position: relative;
  }
  
  .cover{
    display: block; /* Elimina el espacio en línea */
    width: 100%; /* Ajusta el ancho según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  .title{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .Anonymous-Proxy{
    width: 730px;
    height: 264px;
    flex-grow: 0;
    margin: 340px 0 0 231px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: RobotoSlab;
    font-size: 100px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
  }
  