* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  position: relative
}

.header-container{
  background-image: url(../images/cover.jpeg);
  height: 543px;
}

.ico-menu{
  position: sticky;
  z-index: 5px;
  background-color: black;
  size: 38px 22px;
}


.title{
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  text-align: end;
}

.Anonymous-Proxy{
  // flex-grow: 0;
  // letter-spacing: normal;
  // text-align: center;
  // color: var(--white); 
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  color: white;
  display: flex;
  justify-content: flex-end;
  transform: to-upper-case($string: "42px");
}

.section-1{
  .mini-title{
    color: #8ccbea;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
  }
}
